body {
  background-color: #200040;
  font-size: 2rem;
  font-family: Impact;
  color: #fff;
  margin: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-weight: 200;
}

.linha {
  display: flex;
}